# CakePHP 4

myapp/vendor/*
myapp/config/app.php

myapp/tmp/cache/models/*
!myapp/tmp/cache/models/empty
myapp/tmp/cache/persistent/*
!myapp/tmp/cache/persistent/empty
myapp/tmp/cache/views/*
!myapp/tmp/cache/views/empty
myapp/tmp/sessions/*
!myapp/tmp/sessions/empty
myapp/tmp/tests/*
!myapp/tmp/tests/empty

myapp/logs/*
!myapp/logs/empty
